* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

body {
    background-image: linear-gradient(to left, #031226, #363F59);
}

main {
    background-color: #fff;
    width: 600px;
    padding: 24px;
    margin: auto;
    border-radius: 16px;
    box-shadow: 12px 12px 24px #031226;
}

h1 {
    color: #a0c1de;
    text-shadow: 2px 2px 0px #03122638;
    background-image: linear-gradient(to left, #031226, #363F59);
    border-radius: 8px;
    padding: 12px 24px 12px;
}

h2 {
    color: #6889A6;
}

p {
    text-align: justify;
    color: #363F59;
}